
mat-card {
    max-width: 900px;
    margin: 16px auto;
}

table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

th, td {
    padding: 4px;
    border: 1px solid black;
    text-align: center;
}