.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-radio-group {
    display: block;
}

:host {
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}