{{ define "style.css" }}

* {
        font-family: monospace;
}

.chart-header {
        text-align: center;
}

.legend-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
}


.box {
        padding: 10px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
}

.container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 90vh;
        align-items: center;
}

.bowl-utilization {
        text-align: center;
}


.pie-chart {
        max-width: {{ divide 100 (mx .Options.NumFemales .Options.NumMales)}}%;
        max-height: 35%;
}

{{ end }}
