<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <h2 class="chart-header">Eat vs Wait time for cats and mice</h2>
    <div class="legend-container">
        <div class="box", style="background-color: rgb(255, 99, 132);">
        </div>
        Total eat time
        <div class="box", style="background-color: rgb(54, 162, 235);">
        </div>
        Total wait time
    </div>
        
    <div class="container">
        {{ $cat_num := .UnisexRun.Options.NumMales }}
        {{ range .UnisexRun.Stats }}
        <canvas class="pie-chart" id="pie-chart-{{.Id}}">Chart: {{ .Id }}</canvas>
        {{ end }}
        {{ range $i, $stats:= .UnisexRun.Stats }}
        <canvas class="dummy"></canvas>
        {{ end }}
    </div>

    <h2 class="chart-header">Average time spent eating and waiting</h2>
    <div class="container">
        <canvas id="avg-eat-and-wait-bar"></canvas>
    </div>
        
    <h2 class="chart-header">Bowl Utilization</h2>
    <div class="container">
        <canvas id="bowl-utilization"></canvas>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>    
        {{ template "main.js" .}}
    </script>
    <style>
        {{ template "style.css" .UnisexRun }}
    </style>
</body>


